@import url(./__img/card__img.css);
@import url(./__label-like/card__label-like.css);
@import url(./__label/card__label.css);
@import url(./__title/card__title.css);
@import url(./__basket/card__basket.css);
@import url(./__conteiner-like/card__conteiner-like.css);
@import url(./__number-like/card__number-like.css);

.card{
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    height: 361px;
    position: relative;
}




